body {
    /* pushes content to the top of the page */
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: 'Georgia', 'Times New Roman', Times, Serif;
    font: #333;
}

/* padding added */
h1 {
    color: #eee;
    font-size: 28px;
    background-color: #333;
    padding: 10px;
}

h2 {
    font-size: 24px;
    margin-left: 32px;
}

#main-bio {
    float: left;
    width: 60%;
}

#contact-info {
    /* divides content from header */
    float: right;
    width: 30%;
    line-height: 1.5;
}

#bio-image {
    /* margin seperates image from text */ 
    float: left;
    margin: 20px;
}

a {color: #d21034;}

@media screen and (max-width: 480px) {
header h1 {text-align: center;}
h2 {text-align: center;}
#contact-info {float: none;}
}